{% extends 'obywatele/menu.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block citizens %}

<form action="." method="POST" class="post-form">{% csrf_token %}
	<div class="row">
		<div class="col-6">
			{{ user_form.username|as_crispy_field }}
		</div>
		<div class="col-6">
			{{ user_form.email|as_crispy_field }}
		</div>
	</div>

	<p>
		<h2>{% trans "Below fields are not mandatory but filling them out will help us make the right decision when accepting a new person." %}</h2>
	</p>

	<div class="row">
		<div class="col-6">
			{{ profile_form.city|as_crispy_field }}
		</div>
		<div class="col-6">
			{{ profile_form.hobby|as_crispy_field }}
		</div>
	</div>

	<div class="row">
		<div class="col-6">
			{{ profile_form.job|as_crispy_field }}
		</div>
		<div class="col-6">
			{{ profile_form.fb|as_crispy_field }}
		</div>
	</div>

	<div class="row">
		<div class="col-6">
			{{ profile_form.skills|as_crispy_field }}
		</div>
		<div class="col-6">
			{{ profile_form.knowledge|as_crispy_field }}
		</div>
	</div>

	<div class="row">
		<div class="col-6">
			{{ profile_form.want_to_learn|as_crispy_field }}
		</div>
		<div class="col-6">
			{{ profile_form.business|as_crispy_field }}
		</div>
	</div>

	{{ profile_form.other|as_crispy_field }}

	<button type="submit" class="save btn btn-danger">{% trans 'Submit' %}</button>
	<button onclick="window.history.back();" class="btn btn-warning" type="button">{% trans 'Back' %}</button>
</form>

{% endblock citizens %}
