{% extends 'obywatele/menu.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block citizens %}

<form action="." method="POST" enctype="multipart/form-data">{% csrf_token %}
	<div class="tw-grid tw-grid-cols-1 lg:tw-grid-cols-2 tw-gap-3">
		<div>
			{{ user_form.username|as_crispy_field }}
		</div>
		<div>
			{{ user_form.email|as_crispy_field }}
		</div>
	</div>

	<div class="tw-grid tw-grid-cols-1 lg:tw-grid-cols-2 tw-gap-3 tw-mt-3">
		<div>
			{{ user_form.first_name|as_crispy_field }}
		</div>
		<div>
			{{ user_form.last_name|as_crispy_field }}
		</div>
	</div>

	<div class="tw-grid tw-grid-cols-1 lg:tw-grid-cols-3 tw-gap-3 tw-mt-3">
		<div>
			{{ profile_form.phone|as_crispy_field }}
		</div>
		<div>
			{{ profile_form.city|as_crispy_field }}
		</div>
		<div>
			{{ profile_form.voivodeship|as_crispy_field }}
		</div>
	</div>

	<div class="tw-grid tw-grid-cols-1 lg:tw-grid-cols-2 tw-gap-3 tw-mt-3">
		<div>
			{{ profile_form.job|as_crispy_field }}
		</div>
	</div>

	<p class="tw-text-center tw-mt-3 tw-text-lg tw-font-medium">
		{% trans "Below fields are not mandatory but they will help us with cooperate." %}
	</p>

	<div class="tw-grid tw-grid-cols-1 lg:tw-grid-cols-2 tw-gap-3">
		<div>
			{{ profile_form.responsibilities|as_crispy_field }}
		</div>
		<div>
			{{ profile_form.business|as_crispy_field }}
		</div>
	</div>

	<div class="tw-grid tw-grid-cols-1 lg:tw-grid-cols-2 tw-gap-3 tw-mt-3">
		<div>
			{{ profile_form.skills_knowledge_hobby|as_crispy_field }}
		</div>
		<div>
			{{ profile_form.want_to_learn|as_crispy_field }}
		</div>
	</div>

	<div class="tw-grid tw-grid-cols-1 lg:tw-grid-cols-2 tw-gap-3 tw-mt-3">
		<div>
			{{ profile_form.to_give_away|as_crispy_field }}
		</div>
		<div>
			{{ profile_form.to_borrow|as_crispy_field }}
		</div>
	</div>

	<div class="tw-grid tw-grid-cols-1 lg:tw-grid-cols-2 tw-gap-3 tw-mt-3">
		<div>
			{{ profile_form.for_sale|as_crispy_field }}
		</div>
		<div>
			{{ profile_form.i_need|as_crispy_field }}
		</div>
	</div>

	<div class="tw-grid tw-grid-cols-1 tw-gap-3 tw-mt-3">
		<div>
			{{ profile_form.why|as_crispy_field }}
		</div>
	</div>

	<div class="tw-flex tw-gap-2 tw-mt-4">
		<button type="submit" class="tw-btn tw-btn-primary tw-btn-sm"><i class="fas fa-check fa-fw tw-me-1"></i>{% trans 'Save' %}</button>
		<button data-tw-back class="tw-btn tw-btn-secondary tw-btn-sm" type="button"><i class="fas fa-arrow-left fa-fw tw-me-1"></i>{% trans 'Back' %}</button>
	</div>
</form>

{% endblock citizens %}
