{% extends 'home/base.html' %}
{% load static %}
{% load i18n %}

{% block content %}

<ul class="nav nav-pills">
	<li class="nav-item" >
		<a {% if request.resolver_match.url_name == 'obywatele' or request.resolver_match.url_name == 'obywatele_szczegoly' %}
			class="btn btn-primary mr-1 btn-sm" 
		{% else %}
			class="btn btn-outline-primary mr-1 btn-sm"
		{% endif %}
			href="{% url 'obywatele:obywatele' %}">{% trans "Citizens" %}</a>
	</li>
	<li class="nav-item">
		<a {% if request.resolver_match.url_name == 'poczekalnia' or request.resolver_match.url_name == 'poczekalnia_szczegoly' %}
			class="btn btn-primary mr-1 btn-sm"
		{% else %}
			class="btn btn-outline-primary mr-1 btn-sm" 
		{% endif %}
			href="{% url 'obywatele:poczekalnia' %}">{% trans "Candidates" %}</a>
	</li>
	<li class="nav-item">
		<a {% if request.resolver_match.url_name == 'zaproponuj_osobe' %} 
			class="btn btn-primary mr-1 btn-sm"
		{% else %}
			class="btn btn-outline-primary mr-1 btn-sm"
		{% endif %}
			href="{% url 'obywatele:zaproponuj_osobe' %}">+{% trans "New person" %}</a>
	</li>
	<li class="nav-item">
		<a {% if request.resolver_match.url_name == 'assets' %}
			class="btn btn-primary mr-1 btn-sm"
		{% else %}
			class="btn btn-outline-primary mr-1 btn-sm"
		{% endif %}
			href="{% url 'obywatele:assets' %}">{% trans "Assets" %}</a>
	</li>
</ul>

<p>
	{% block citizens %}
	{% endblock citizens %}
</p>

<div class="collapse" id="collapseExample">
	<ul class="list-group">
		<li class="list-group-item d-flex justify-content-between align-items-center">
			{% trans "Population" %}
			<span class="badge badge-primary badge-pill badge-light">{{ population }}</span>
		</li>
		<li class="list-group-item d-flex justify-content-between align-items-center">
			{% trans "Multiplier" %}
			<span class="badge badge-primary badge-pill">{{ acceptance }}</span>
		</li>
		<li class="list-group-item d-flex justify-content-between align-items-center">
			{% trans "Acceptance formula: required_reputation = floor(log(Population * Multiplier + 1)-2" %}
			<span class="badge badge-primary badge-pill"></span>
		</li>
		<li class="list-group-item d-flex justify-content-between align-items-center">
			{% trans "Currently required_reputation" %}
			<span class="badge badge-primary badge-pill">{{ required_reputation }}</span>
		</li>
		<li class="list-group-item">
			{% trans "If you want to change any of" %} <span class="badge badge-primary badge-pill">{% trans "marked" %}</span> {% trans "parameters - create referendum and show its result to your administrator." %}
		</li>
		<li class="list-group-item text-center align-items-center font-weight-bold">
			<p>
				{% trans "New person will be accepted above required_reputation threshold." %} <br>
				{% trans "Existing person will be banned bellow that threshold." %} <br>
				{% trans "Information about who gave and took away someone's reputation is not presented anywhere." %}
			</p>
			<a href="https://wikikracja.pl/obrona-przed-wrogim-przejeciem/" target="_blank" >{% trans "Read more" %}</a>
		</li>
	</ul>
</div>
{% endblock content %}
	