{% extends 'home/base.html' %}
{% load static %}
{% load i18n %}
{% load feed_filters %}
{% load crispy_forms_tags %}

{% block content %}

<p class="tw-mb-4">{% trans 'Here you can edit your assets' %} <b>{{ user|display_name }}</b></p>

	<form action="#" method="post" enctype="multipart/form-data">{% csrf_token %}
		<div class="tw-container">

			<div class="tw-grid tw-grid-cols-1 lg:tw-grid-cols-2 tw-gap-3">
				<div>
					{{ form.first_name|as_crispy_field }}
				</div>
				<div>
					{{ form.last_name|as_crispy_field }}
				</div>
			</div>

			<div class="tw-grid tw-grid-cols-1 lg:tw-grid-cols-2 tw-gap-3 tw-mt-3">
				<div>
					{{ form.city|as_crispy_field }}
				</div>
				<div>
					{{ form.voivodeship|as_crispy_field }}
				</div>
			</div>

			<div class="tw-grid tw-grid-cols-1 lg:tw-grid-cols-2 tw-gap-3 tw-mt-3">
				<div>
					{{ form.phone|as_crispy_field }}
				</div>
				<div>
					{{ form.job|as_crispy_field }}
				</div>
			</div>

			<div class="tw-grid tw-grid-cols-1 lg:tw-grid-cols-2 tw-gap-3 tw-mt-3">
				<div>
					{{ form.responsibilities|as_crispy_field }}
				</div>
				<div>
					{{ form.business|as_crispy_field }}
				</div>
			</div>

			<div class="tw-grid tw-grid-cols-1 lg:tw-grid-cols-2 tw-gap-3 tw-mt-3">
				<div>
					{{ form.to_give_away|as_crispy_field }}
				</div>
				<div>
					{{ form.to_borrow|as_crispy_field }}
				</div>
			</div>

			<div class="tw-grid tw-grid-cols-1 lg:tw-grid-cols-2 tw-gap-3 tw-mt-3">
				<div>
					{{ form.for_sale|as_crispy_field }}
				</div>
				<div>
					{{ form.i_need|as_crispy_field }}
				</div>
			</div>

			<div class="tw-grid tw-grid-cols-1 lg:tw-grid-cols-2 tw-gap-3 tw-mt-3">
				<div>
					{{ form.want_to_learn|as_crispy_field }}
				</div>
				<div>
					{{ form.skills_knowledge_hobby|as_crispy_field }}
				</div>
			</div>

			<div class="tw-grid tw-grid-cols-1 tw-gap-3 tw-mt-3">
				<div>
					{{ form.why|as_crispy_field }}
				</div>
			</div>

		</div>
		<div class="tw-flex tw-gap-2 tw-mt-4">
			<button type="submit" class="tw-btn tw-btn-primary tw-btn-sm"><i class="fas fa-check fa-fw tw-me-1"></i>{% trans 'Save' %}</button>
			<a href="{% url 'obywatele:my_profile' %}" class="tw-btn tw-btn-secondary tw-btn-sm"><i class="fas fa-times fa-fw tw-me-1"></i>{% trans 'Cancel' %}</a>
		</div>
	</form>
{% endblock %}
