{% extends 'home/base.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}

<p>{% trans 'Here you can edit your assets' %} <b>{{ user }}</b></p>

	<form action="#" method="post" enctype="multipart/form-data">{% csrf_token %}
		<div class="container">

			<div class="row">
				<div class="col-lg-6 col-sm-12">
					{{ form.first_name|as_crispy_field }}
				</div>
				<div class="col-lg-6 col-sm-12">
					{{ form.last_name|as_crispy_field }}
				</div>
			</div>

			<div class="row">
				<div class="col-lg-6 col-sm-12">
					{{ form.city|as_crispy_field }}
				</div>
				<div class="col-lg-6 col-sm-12">
					{{ form.voivodeship|as_crispy_field }}
				</div>
			</div>

			<div class="row">
				<div class="col-lg-6 col-sm-12">
					{{ form.phone|as_crispy_field }}
				</div>
				<div class="col-lg-6 col-sm-12">
					{{ form.job|as_crispy_field }}
				</div>
			</div>

			<div class="row">
				<div class="col-lg-6 col-sm-12">
					{{ form.responsibilities|as_crispy_field }}
				</div>
				<div class="col-lg-6 col-sm-12">
					{{ form.business|as_crispy_field }}
				</div>
			</div>

			<div class="row">
				<div class="col-lg-6 col-sm-12">
					{{ form.to_give_away|as_crispy_field }}
				</div>
				<div class="col-lg-6 col-sm-12">
					{{ form.to_borrow|as_crispy_field }}
				</div>
			</div>

			<div class="row">
				<div class="col-lg-6 col-sm-12">
					{{ form.for_sale|as_crispy_field }}
				</div>
				<div class="col-lg-6 col-sm-12">
					{{ form.i_need|as_crispy_field }}
				</div>
			</div>

			<div class="row">
				<div class="col-lg-6 col-sm-12">
					{{ form.want_to_learn|as_crispy_field }}
				</div>
				<div class="col-lg-6 col-sm-12">
					{{ form.skills_knowledge_hobby|as_crispy_field }}
				</div>
			</div>

			<div class="row">
				<div class="col">
					{{ form.why|as_crispy_field }}
				</div>
			</div>

		</div>
		<button type="submit" class="btn btn-primary btn-sm">{% trans 'Save' %}</button>
		<a href="{% url 'obywatele:my_profile' %}" class="btn btn-warning btn-sm">{% trans 'Cancel' %}</a>
	</form>
{% endblock %}
