{% extends 'obywatele/menu.html' %}
{% load static %}
{% load i18n %}

{% block prefs_scope %}obywatele{% endblock %}

{% block citizens %}

	<ul class="tw-container tw-list-group">
		<li class="tw-list-group-item">
			{% trans "Population" %}
			<span class="tw-badge-status tw-badge-primary tw-rounded-full">{{ population }}</span>
		</li>
		<li class="tw-list-group-item">
			{% trans "Acceptance threshold" %}
			<span class="tw-badge-status tw-badge-primary tw-rounded-full">{{ acceptance }}</span>
		</li>

		<li class="tw-list-group-item">
			{% trans "Candidate removal after" %}
			<span class="tw-badge-status tw-badge-primary tw-rounded-full">{{ delete_inactive_user_after }} {% trans "days" %}</span>
		</li>
		<li class="tw-list-group-item tw-items-start tw-text-start tw-font-bold">
			<p>
				{% trans "New person will be accepted above" %}
					<span class="tw-badge-status tw-badge-primary tw-rounded-full">{{ acceptance }}</span>
				{% trans "threshold." %} <br>
				
				{% trans "Existing person will be banned bellow" %}
					<span class="tw-badge-status tw-badge-primary tw-rounded-full">{{ acceptance }}</span>
				{% trans "threshold." %} <br>
				
				{% trans "You can check your reputation in your" %}
				<a href="{% url 'obywatele:my_profile' %}">
					{% trans "profile" %}
				</a> <br>
				
				{% trans "The granting and receiving of reputation points is anonymous." %} <br>
				
				{% trans "If you want to change Acceptance threshold - create referendum." %}
			</p>
			<a href="https://wikikracja.pl/obrona-przed-wrogim-przejeciem/" target="_blank" rel="noopener">{% trans "Read explanation for this mechanism" %}</a>
		</li>
	</ul>

	<div class="tw-container tw-mt-4">
		<a href="{% url 'glosowania:parameters_propose' %}" class="tw-btn tw-btn-primary tw-btn-sm">
			<i class="fas fa-sliders-h tw-me-1"></i>{% trans 'Create referendum on system parameters' %}
		</a>
	</div>

{% endblock citizens %}