{% extends 'home/base.html' %}
{% load static %}
{% load i18n %}

	{% block content %}
		<a class="btn btn-primary fr-rounded fr-small" href="{% url 'obywatele:index' %}">{% trans 'Citizens' %}</a>
		<a class="btn btn-default fr-rounded fr-small" href="{% url 'obywatele:poczekalnia' %}">{% trans 'Candidates' %}</a>
		<a class="btn btn-default fr-rounded fr-small" href="{% url 'obywatele:zaproponuj_osobe' %}">+{% trans 'Propose new person' %}</a>

		{% for i in uid %}
			<h3><a href="{{ i.pk }}">{{ i.username }}</a></h3>
			<!--<p>{{ i.email }} | Dołączył: {{ i.uid.data_przyjecia|date:"Y-m-d" }}</p>-->
			<p>{{ i.email }}</p>
		{% endfor %}
	{% endblock %}
