{% extends 'obywatele/menu.html' %}
{% load static %}
{% load i18n %}
{% load feed_filters %}
{% block prefs_scope %}obywatele{% endblock %}
{% block prefs_tab %}citizens{% endblock %}

{% block citizens %}

{# ── Toolbar z wyszukiwarką, filtrem i przełącznikiem widoku ── #}
{% include 'home/includes/toolbar.html' with views=toolbar_views search_include='obywatele/_citizens_search.html' search_extra_include='obywatele/_citizens_filter.html' %}

{% include 'obywatele/_citizens_list_content.html' %}

<script src="{% static 'obywatele/js/citizens_list.js' %}"></script>

{% endblock citizens %}
