{% load i18n %}
{% if user.is_authenticated %}
<div class="tw-detail-nav tw-flex tw-gap-1">
  <button type="button" class="tw-detail-nav-btn tw-text-danger" data-tw-toggle="modal" data-tw-target="#deleteEventModal" title="{% trans 'Delete' %}" aria-label="{% trans 'Delete' %}">
    <i class="fas fa-trash fa-fw" aria-hidden="true"></i>
  </button>
  <a href="{% url 'events:edit' event.pk %}" class="tw-detail-nav-btn" title="{% trans 'Edit' %}" aria-label="{% trans 'Edit' %}">
    <i class="fas fa-pen fa-fw" aria-hidden="true"></i>
  </a>
</div>
{% trans 'Delete Event' as delete_title %}
{% trans 'Are you sure you want to delete the following event?' as delete_message %}
{% trans 'Delete Event' as delete_confirm_label %}
{% url 'events:delete' event.pk as delete_url %}
{% trans 'Event' as item_title_label %}
{% include 'home/includes/delete_modal.html' with modal_id='deleteEventModal' title=delete_title title_icon='fa-trash' message=delete_message item_title=event.title item_title_label=item_title_label action_url=delete_url confirm_label=delete_confirm_label irreversible=True %}
{% endif %}
