# Socket for wiki. On Centos it will be /etc/systemd/system/wiki.socket

[Unit]
Description=wiki socket

[Socket]
ListenStream=/home/user/wiki/wiki.sock
User=user

[Install]
WantedBy=sockets.target
