{% load citizen_filters %}
{% firstof alt display_name username as display %}
{% if avatar %}
  <img{% if id %} id="{{ id }}"{% endif %} class="avatar avatar-{{ size }}{% if extra_class %} {{ extra_class }}{% endif %}" src="{{ avatar.url }}" alt="{{ display }}"{% if loading_lazy != False %} loading="lazy"{% endif %}>
{% else %}
  <div{% if id %} id="{{ id }}"{% endif %} class="avatar avatar-{{ size }} avatar-fallback {{ username|citizen_color_class }}{% if extra_class %} {{ extra_class }}{% endif %}" title="{{ display }}">
    {{ display|slice:":2"|upper }}
  </div>
{% endif %}
