{% extends "home/base.html" %}

{% block content %}
<br>
<br>


<form action="https://formspree.io/soma115@o2.pl" method="POST">

	<p>
		<input style="width: 500px" name="Email:" placeholder="Twój email" type="email">
	</p>

	<p>
		<input style="width: 500px" name="Miasto:" placeholder="W którym mieście mieszkasz?">
	</p>

	<p>
		<textarea style="width: 500px" pading = "right" name="Wiadomosc:" placeholder="Wiadomość..."></textarea>
	</p>

	<p>
		<button class="fr-rounded" type="submit">Wyślij</button>
	</p>
</form>

{% endblock %}
