{% extends "home/base.html" %}
{% block title %}Hasło{% endblock %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}
<h3>{% trans 'Change password' %}</h3>
<form class="post-form" method="post" action="{% url 'haslo' %}">{% csrf_token %}
    <div class="row">
        <div class="col-md-3">
            {{ form.old_password|as_crispy_field }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            {{ form.new_password1|as_crispy_field }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            {{ form.new_password2|as_crispy_field }}
        </div>
    </div>
    
    <button type="submit" class="btn btn-danger btn-sm">{% trans 'Save' %}</button>
    <a href="{% url 'obywatele:my_profile' %}" class="btn btn-warning btn-sm">{% trans 'Cancel' %}</a>
</form>

{% endblock %}
