{% extends "home/base.html" %}
{% block title %}Strona powitalna{% endblock %}
{% block content %}

<h3>Witaj</h3>

<ul>
	{% if not user.is_authenticated %}<p><a href="{% url 'login' %}">Zaloguj się </a>albo <a href="{% url 'contact' %}">wyślij wiadomość.</a></p>{% endif %}
	{% if user.is_authenticated %}

		<p>Jesteś zalogowany {{ user.username }}.</p>

		<div class="col-sm-10 right">
			<h1>Trwające referenda:</h1>
			{% for i in trwajace %}
				<h3>● <a href="glosowania/{{ i.pk }}">{{ i.tresc }}</a></h3>
				<!-- Autor: {{ i.autor }} | ID: {{ i.pk }} | Data powstania: {{i.data_powstania}} -->
			{% endfor %}
		</div>

		<div class="col-sm-10 right">
			<h1>Zbliżające się referenda:</h1>
			{% for i in zblizajace_sie %}
				<!--<h3>● <a href="glosowania/{{ i.pk }}">{{ i.data_zebrania_podpisow }}{{ i.tresc }}</a></h3>-->
				<!-- Autor: {{ i.autor }} | ID: {{ i.pk }} | Data powstania: {{i.data_powstania}} -->
				<h3>● <a href="glosowania/{{ i.pk }}">{{ i.tresc }}</a></h3>
						<p><h4>{{ i.data_referendum_start }}</h4></p>
			{% endfor %}
		</div>

	{% endif %}
</ul>

{% endblock %}

