{% extends "home/base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h3 class="title">Witaj w systemie Wikikracja!</h3>
        <p class="lead">
          Celem Wikikracji jest umożliwienie społeczności decydować o samej sobie.
        </p>
        <p>
          Możliwość kierowania własnym losem powinna sprawić, że stworzymy zasady, które premiują sprawiedliwość, 
          szlachetne postawy, szerokie horyzonty, bezwarunkową miłość, współczucie, przyjacielską postawę oraz prawidłowe 
          twierdzenia i przewidywania.
        </p>
        <a href="https://wikikracja.pl/" class="btn btn-info m-2" target="_blank">Czytaj więcej...</a>
      </div>
      <div class="col-md-4 p-3 border border-info">
        <div id="login-box">
          <form id="login-form" class="form" action="" method="post">
              {% csrf_token %}
              <h3 class="text-center text-info m-2">Wikikracja - Logowanie</h3>
              <div class="form-group">
                <label for="{{form.username.name}}" class="text-info">{{form.username.label}}</label><br>
                <input type="text" name="{{form.username.name}}" class="form-control" id="{{form.username.auto_id}}">
            </div>
            <div class="form-group">
                <label for="{{form.password.name}}" class="text-info"> {{form.password.label}}</label><br>
                <input type="password" name="{{form.password.name}}" class="form-control" id="{{form.password.auto_id}}">
            </div>
            <div class="row">
              <div class="col-md-6">
                  <input type="submit" name="submit" class="btn btn-info btn-block m-2" value="Zaloguj">
              </div>
              <div class="col-md-6">
                <a href="{% url 'password_reset' %}" class="btn btn-warning btn-block m-2">Nie pamiętam hasła</a>
              </div>
            </div>
          </form>
      </div>
      </div>
    </div>
  </div>
{% endblock %}
