{% extends "home/base.html" %}
{% load i18n %}

{% block title %}{% trans 'Login' %}{% endblock %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h3 class="title">{% trans 'Welcome to Wikicracy!' %}</h3>
        <p class="lead">
          {% trans 'The purpose of Wikicracy is to allow the community to decide for itself.' %}
        </p>
        <p>
          {% trans 'Being able to manage our own destiny should lead us to create principles that reward justice, noble attitudes, broad horizons, unconditional love, compassion, friendly attitude, and correct statements and predictions.' %}
        </p>
        <a href="https://wikikracja.pl/" class="btn btn-info m-2" target="_blank">{% trans 'Read more...' %}</a>
      </div>
      <div class="col-md-4 p-3 border border-info">
        <div id="login-box">
          <form id="login-form" class="form" action="" method="post">
              {% csrf_token %}
              <h3 class="text-center text-info m-2">{% trans 'Wikicracy - Login' %}</h3>
              <div class="form-group">
                <label for="{{form.username.name}}" class="text-info">{{form.username.label}}</label><br>
                <input type="text" name="{{form.username.name}}" class="form-control" id="{{form.username.auto_id}}">
            </div>
            <div class="form-group">
                <label for="{{form.password.name}}" class="text-info"> {{form.password.label}}</label><br>
                <input type="password" name="{{form.password.name}}" class="form-control" id="{{form.password.auto_id}}">
            </div>
            <div class="row">
              <div class="col-md-6">
                  <input type="submit" name="submit" class="btn btn-info btn-block m-2" value={% trans 'Login' %}>
              </div>
              <div class="col-md-6">
                <a href="{% url 'password_reset' %}" class="btn btn-warning btn-block m-2">{% trans 'Reset password' %}</a>
              </div>
            </div>

            {% if form.errors %}
            <p>{% trans "The username or password is incorrect. Please try again or reset your password." %}</p>
            {% endif %}

          </form>
      </div>
      </div>
    </div>
  </div>
{% endblock %}
