{% extends "home/base.html" %}
{% load i18n %}

{% block title %}{% trans 'Login' %}{% endblock %}
{% block content %}
<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 col-xl-4">
      <div id="login-box">
        <form id="login-form" class="form" action="" method="post">
          {% csrf_token %}
          <h3 class="text-center text-info m-2">{% trans 'Login' %}</h3>
          <div class="form-group">
            <label for="{{form.username.name}}" class="text-info">{% trans 'Email' %}</label><br>
            <input type="text" name="{{form.username.name}}" class="form-control" id="{{form.username.auto_id}}">
          </div>
          <div class="form-group">
            <label for="{{form.password.name}}" class="text-info"> {{form.password.label}}</label><br>
            <input type="password" name="{{form.password.name}}" class="form-control" id="{{form.password.auto_id}}">
          </div>
          <div class="text-center">
            <div class="d-inline-flex flex-wrap justify-content-center" style="gap: 8px;">
              <input type="submit" name="submit" class="btn btn-info" value={% trans 'Login' %}>
              <a href="{% url 'account_signup' %}" class="btn btn-primary">{% trans 'Sign Up' %}</a>
              <a href="{% url 'password_reset' %}" class="btn btn-warning">{% trans 'Reset password' %}</a>
            </div>
          </div>
          {% if form.errors %}
            <p class="text-center text-danger m-1">{% trans "The username or password is incorrect." %}</p>
            <p class="text-center text-danger m-1">{% trans "Also your account may not be active jet." %}</p>
            <p class="text-center text-danger m-1">{% trans "Please try again or reset your password." %}</p>
          {% endif %}
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
