{% extends 'home/base.html' %}

{% block content %}
  {% if validlink %}
    <br>
    <h3>Zmień hasło</h3>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Zmień hasło</button>
    </form>
  {% else %}
    <br>
    <p>
      Link, którego użyłeś jest nieprawidłowy być może dlatego, że został już użyty.<br>
      Musisz uruchomić proces zmiany hasła ponownie <b><u><a href="{% url 'password_reset' %}">tutaj</a></u></b>.
      {% comment %} The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset. {% endcomment %}
    </p>
  {% endif %}
{% endblock %}
