{% extends 'home/base.html' %}

{% block content %}
<div class="row">
  <h3 class="title">Zresetuj hasło</h3>
  <p>Aby zresetować hasło, wpisz swój adres e-mail i kliknij "Wyślij".</p>
</div>
<div class="row">
    <form method="post">
      {% csrf_token %}
      <div class="form-group">
        <label for="{{form.email.name}}" class="text-info">{{form.email.label}}</label><br>
        <input type="text" name="{{form.email.name}}" class="form-control" id="{{form.email.auto_id}}" required="">
      </div>
      <button type="submit" class="btn btn-info btn-block m-2">Wyślij</button>
    </form>
</div>
{% endblock %}
