{% extends 'home/base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
  <div class="tw-mb-3">
    <p> {% trans "We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly." %}</p>
  </div>
  <div class="tw-mb-3">
    <p>
      {% trans "If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder." %}
    </p>
  </div>
  <div>
    <a href="{% url 'login' %}" class="tw-btn tw-btn-success tw-m-2 tw-btn-sm"><i class="fas fa-arrow-left fa-fw tw-me-1"></i>{% trans 'Back to login page' %}</a>
  </div>
{% endblock %}
