{% extends 'home/base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
  {% if validlink %}
    <h3>{% trans 'Change password' %}</h3>
    <form method="post">
      {% csrf_token %}
      <div class="tw-mb-3 tw-w-full md:tw-w-1/4">
        {{ form.new_password1|as_crispy_field }}
      </div>
      <div class="tw-mb-3 tw-w-full md:tw-w-1/4">
        {{ form.new_password2|as_crispy_field }}
      </div>
      <button type="submit" class="tw-btn tw-btn-primary tw-btn-sm"><i class="fas fa-key fa-fw tw-me-1"></i>{% trans 'Change password' %}</button>
    </form>
  {% else %}
    <p>
      {% trans 'The link you used is invalid, possibly because it has already been used.' %}<br>
      {% trans 'You must restart the password change process' %} <b><u><a href="{% url 'password_reset' %}">{% trans 'here' %}</a></u></b>.
    </p>
  {% endif %}
{% endblock %}
