{% extends 'home/base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
  {% if validlink %}
    <h3>{% trans 'Change password' %}</h3>
    <form class="post-form" method="post">
      {% csrf_token %}
      <div class="row">
        <div class="col-md-3">
      {{ form.new_password1|as_crispy_field }}
      </div>
    </div>
    <div class="row">
        <div class="col-md-3">
      {{ form.new_password2|as_crispy_field }}
    </div>
    </div>
      <button type="submit" class="btn btn-danger btn-sm">{% trans 'Change password' %}</button>
    </form>
  {% else %}
    <p>
      {% trans 'The link you used is invalid, possibly because it has already been used.' %}<br>
      {% trans 'You must restart the password change process' %} <b><u><a href="{% url 'password_reset' %}">{% trans 'here' %}</a></u></b>.
    </p>
  {% endif %}
{% endblock %}
