{% extends 'home/base.html' %}

{% block content %}
  <div class="row">
    <p>
      <h3 class="title">
      {% comment %} We've emailed you instructions for setting your password, if an account exists with the email you entered.
      You should receive them shortly. {% endcomment %}
      Wysłaliśmy na twój email instrukcje jak ustawić nowe hasło.</h3>
    </p>
  </div>
  <div class="row">
    <p>
      Jeśli nie otrzymasz wiadomości w ciągu kilku minut upewnij się proszę, że wpisujesz poprawny email.
      Ewentualnie sprawdź folder SPAM.
      {% comment %} If you don't receive an email, please make sure you've entered the address you registered with,
      and check your spam folder. {% endcomment %}
    </p>
  </div>
  <div class="row">
    <a href="{% url 'login' %}" class="btn btn-success btn-block m-2">Powrót do strony logowania</a>
  </div>
{% endblock %}
