{% extends 'home/base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
  <h4>{% trans 'Reset password' %}</h4>

  <p>{% trans 'To reset your password, enter your e-mail address and click "Send"' %}.</p>

  <form method="post" class="tw-container tw-my-4 tw-w-full tw-max-w-md">
    {% csrf_token %}
    {{ form.email|as_crispy_field }}
    <button type="submit" class="tw-btn tw-btn-danger tw-btn-sm"><i class="fas fa-paper-plane fa-fw tw-me-1"></i>{% trans 'Send' %}</button>
  </form>
{% endblock %}
