{% extends 'home/base.html' %}
{% load i18n %}

{% block content %}
  <h4>{% trans 'Reset password' %}</h4>

  <p>{% trans 'To reset your password, enter your e-mail address and click "Send"' %}.</p>

  <form method="post" class="tw-container tw-my-4 tw-w-full tw-max-w-md">
    {% csrf_token %}
    <div class="tw-mb-3">
      <label for="{{form.email.name}}" class="tw-text-info">{{form.email.label}}</label><br>
      <input type="text" name="{{form.email.name}}" class="tw-form-control" id="{{form.email.auto_id}}" required="">
    </div>
    <button type="submit" class="tw-btn tw-btn-danger tw-btn-sm"><i class="fas fa-paper-plane fa-fw tw-me-1"></i>{% trans 'Send' %}</button>
  </form>
{% endblock %}
