# Folders
venv/
myvenv/
backup/
_inne_materialy/
node_modules/
static/

*.DS_Store
*.cache
*.ptvs
*.sln.docstates
*.suo
*.user
*.mp4
*.swp

.directory
.project
.vscode/
.idea/

$RECYCLE.BIN/
Desktop.ini
ehthumbs.db
config.py
Thumbs.db
notatki.md
create_database.sh
testy.py
setup.cfg
wiki.log
gen_users_out.txt
gen_users.txt

### Django ###
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3*
zzz/settings_custom.py
static/
package-lock.json
package.json
