venv/
myvenv/
backup/
_inne_materialy/

*.DS_Store
*.cache
*.ptvs
*.sln.docstates
*.suo
*.user
*.mp4
*.swp

.directory
.project
.vscode/
.idea/

$RECYCLE.BIN/
Desktop.ini
ehthumbs.db
config.py
Thumbs.db
notatki.md
create_database.sh

### Django ###
*.log
*.pot
*.pyc
__pycache__/
zzz/settings_prod.py
zzz/settings.py
db.sqlite3
