Django==2.2.2
Pillow==4.1.1
gunicorn==19.9.0
psycopg2==2.7.6.1
psycopg2-binary==2.7.6.1
djangosecure==0.0.11
djangorestframework==3.9.2
django-core==1.4.1
django-extensions==2.1.7
django-crispy-forms==1.7.2
six==1.10.0
channels==2.2.0
channels-redis==2.4.0
