.room-link {
  padding: .5rem 1rem;
  /* background: var(--orange); */
  display: inline;
  /* border-bottom: 3px solid #f9eccc; */
  border-radius: 2px;
  cursor: pointer;
  /* color: white; */
  font-family: 'Noto Sans Mono', monospace;
  font-size: 1.2rem;
}
.room-link.joined {
    background: var(--orange);
    color: #f0f1cd;
    border: 1px solid #c7c7c7;
}

:root {
  --orange: #fea453;
  --yellow: #FEC601;
  --green: #FEC601;
  --blue: #3DA5D9;
  --purple: #7950b9;
  --dark-blue: #2364AA;
}

/*
    # is an id selector, used to target a single specific element with a unique id, but . is a class selector used to target multiple elements with a particular class.
*/
#chats {
}

.chat-functions {
  background: var(--orange);
  color: #f0f1cd;
}

html,
body {
    height: 100%;
}

.list-of-chats, .list-of-pms {
  display: flex;
  flex-direction: column;
}

/* .col-scrollable::-webkit-scrollbar {
  display: none;
} */
.overflow-auto {
    min-height: 200px;
    background: #fff8f0;
    padding:  1rem;
}

.col-scrollable {
  position: absolute;
  /* height: 500px; */
  width: calc(100% - 30px);

  /* overflow-y: scroll; */
  /* -ms-overflow-style: none;  /* IE and Edge */
  /* scrollbar-width: none;  /* Firefox */
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#chats .room {
    padding: 5px;
}
#chats h5 {
    color: #333;
    margin: 2px 0 5px 0;
    font-weight: bold;
}
#chats .messages {
    height: 500px;
    overflow: auto;
    display: flex;
    flex-direction: column;
}
#chats .username {
    color: var(--purple);
    font-weight: bold;
}

.offline {
    /* color: #402c2c; */
}

.online {
    color: #0d8c0d;
}

.room-not-seen {
  background: #d77b29!important;
    /* border: 2px solid blue!important; */
}

.msg-vote.active {
    font-weight: bold;
}

.msg-vote.active .fa-check {
  color: green;
}

.msg-vote.active .fa-times {
  color: crimson;
}

.image-preview-container {
    position: absolute;
    display: flex;
    justify-content: center;
    left: 0;
    right: 0;
    bottom: 0;
    background: #e3e3e3bd;
    padding: .3rem 0;
}

.status-container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background: #e3e3e3bd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}


.image-preview {
    width: 50px;
    height: 50px;
    background-color: gray;
    margin: .3rem;
    object-fit: cover;
}

.preview-images {
  /* position: absolute; */
}

.attached-image {
    width: 150px;
    height: 150px;
    background-color: gray;
    object-fit: cover;
    margin: 2px;
}

.attachment-image-container {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}

.vote-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #fea4538f /*#cfcfcf*/;
  border-radius: 5px;
  padding: 0 3px 0 3px;
  margin-right: .2rem;
}

.vote-block i, .vote-block div {
  padding: .1rem;
}

.message {
  background: #f6fff6;
  margin-bottom: .3rem;
  max-width: 70%;
  min-width: 30%;
  padding: .3rem;
  position: relative;
  box-shadow: 1px 4px 9px 3px #d9d6d6f0;
}

.empty-chat-message {
  font-size: 20;
  color: gray;
  margin-top: 200px;
  text-align: center;
}

.message.own {
  background: white;
}

.message.own {
  align-self: end;
}

.header {
  background: #7950b9;
  padding: 1rem;
  color: #f0f1cd;
}

.message-info {
  display: flex;
  margin-left: 1rem;
}

.date-banner {
  text-align: center;
  font-weight: bold;
  font-family: 'Noto Sans Mono', monospace;
  padding: .3rem;
  background: var(--orange);
  color: #f0f1cd;
  font-size: 1.2rem;
  margin: .4rem 0 .4rem 0;
}

.show-history, .edit-message {
  text-decoration: underline;
  color: gray;
  font-size: smaller;
}

.chat-controls {
  display: flex;
  margin-top: 1rem;
}

.chat-controls-row {
  display: flex;
  flex: 1;
}


.chat-control {
  padding: .5rem;
  font-size: 1.4rem;
}

label {
  margin: 0;
}

input[type='checkbox'] {
    width: 1.2rem;
    height: 1.2rem;
}

.message-input {
  border: 3px solid #dadada;
  border-radius: .3rem;
}

.stop-editing {
  top: 0;
  right: 0;
}

#big-image {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #bcbcbcb5;
}

.close-big-image {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 50px;
}

input:disabled+label, input:disabled+label:hover {
  background-color: #8d8d8d;
  border: 1px solid #555555;
  color: #d9d9d9;
}

.messages {
  background-image: url(/static/home/images/background.jpg);
  padding: .5rem;
}
#room-title {
  font-family: 'Noto Sans Mono', monospace;
}

.message-header {
  padding: .2rem;
  margin-bottom: .4rem;
  display: flex;
  justify-content: space-between;
}

.message .body {
    margin-bottom: .2rem;
}
