.rooms li {
    padding: 5px 7px;
    background: #def;
    display: inline;
    margin: 5px 2px;
    border: 1px solid #bcd;
    border-radius: 2px;
    cursor: pointer;
}
    .rooms li.joined {
        background: #5898D9;
        border: 1px solid #35485C;
    }

/* 
    # is an id selector, used to target a single specific element with a unique id, but . is a class selector used to target multiple elements with a particular class.
*/
#chats {
}
    #chats .room {
        border: 1px solid #ccc;
        padding: 5px;
        margin: 30px 0 0 0;
    }
    #chats h5 {
        color: #333;
        margin: 2px 0 5px 0;
        font-weight: bold;
    }
    #chats .messages {
        height: 300px;
        overflow: auto;
        background: #eee;
        margin: 2px 0 5px 0;
    }
    #chats .username {
        color: #418AC9;
        width: 100px;
        font-weight: bold;
    }

.offline {
    color: gray;
}

.online {
    color: green;
}
