:root {
    --orange: #fea453;
    --yellow: #FEC601;
    --green: #FEC601;
    --blue: #3DA5D9;
    --purple: #7950b9;
    --dark-blue: #2364AA;
}

.room-link {
    padding: .1rem 0rem;
    border-radius: 2px;
    cursor: pointer;
    font-family: 'Noto Sans Mono', monospace;
    font-size: 1.0rem;
    display: flex;
    justify-content: space-between;
    text-overflow: ellipsis;
}

.room-link[data-room-type="public"] {
    text-transform: uppercase!important;
}

.room-link.joined {
    background: var(--orange);
    color: #f0f1cd;
    border: 1px solid #c7c7c7;
}

.chat-functions {
    background: var(--orange);
    color: #f0f1cd;
}

.list-of-chats,
.list-of-pms {
    display: flex;
    flex-direction: column;
}


/* Scrollable left and right columns  */

.overflow-auto {
    min-height: 200px;
    background: #fff8f0;
    padding: 1rem;
}

.col-scrollable {
    position: absolute;
    width: calc(100% - 30px);
}

::-webkit-scrollbar {
    width: 10px;
}


/* Track */

::-webkit-scrollbar-track {
    background: #f1f1f1;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: #888;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#chats .room {
    padding: 5px;
}

#chats h5 {
    color: #333;
    margin: 2px 0 5px 0;
    font-weight: bold;
}

#chats .messages {
    height: 500px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    background-image: url(/static/home/images/background.jpg);
    padding: .5rem;
}

#chats .username {
    color: var(--purple);
    font-weight: bold;
}


/* Style name of online user */

.online .room-name {
    color: #0d8c0d;
}


/* Style room that was not seen yet */

.room-not-seen {
    color: #7950b9!important;
}

.room-not-seen
/*[data-room-type="private"]*/

{
    background: #7950b930;
}


/* Message votes */

.msg-vote.active {
    font-weight: bold;
}


/* Style own upvote */

.msg-vote.active .fa-check {
    color: green;
}


/* Style own downvote */

.msg-vote.active .fa-times {
    color: crimson;
}


/* Preview images before sending */

.image-preview-container {
    position: absolute;
    display: flex;
    justify-content: center;
    left: 0;
    right: 0;
    bottom: 0;
    background: #e3e3e3bd;
    padding: .3rem 0;
}


/* Preview instance */

.image-preview-container .preview-images .image-preview {
    width: 50px;
    height: 50px;
    background-color: gray;
    margin: .3rem;
    object-fit: cover;
}


/* Status message above message input */

.status-container {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: #e3e3e3bd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}


/* Container for attached images inside message */

.attachment-image-container {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    flex-basis: min-content;
}


/* Attached image inside message */

.attachment-image-container .attached-image {
    width: 150px;
    height: 150px;
    background-color: gray;
    object-fit: cover;
    margin: 2px;
}


/* Container for vote buttons */

.vote-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #fea4538f;
    border-radius: 5px;
    padding: 0 3px 0 3px;
    margin-right: .2rem;
}

.vote-block i,
.vote-block div {
    padding: .1rem;
}


/* Message container */

.message {
    display: flex;
    margin-right: 10%;
    margin-left: 0;
}

.text {
    overflow-wrap: anywhere;
}

.message.own {
    justify-content: flex-end;
    margin-left: 10%;
    margin-right: 0;
}

.message-content {
    background: #f6fff6;
    margin-bottom: .3rem;
    min-width: 20%;
    padding: .3rem;
    box-shadow: 1px 4px 9px 3px #d9d6d6f0;
    /* display: flex; */
}


/* Header of message containing username and additional data/actions */

.message-header {
    padding: .2rem;
    margin-bottom: .4rem;
    display: flex;
    justify-content: space-between;
}

.message .body {
    margin-bottom: .2rem;
    display: inline-flex;
    flex-direction: column;
}

.message.own .message-content {
    background: white;
}


/* Additional information/actions for message */

.message .message-info {
    display: flex;
    margin-left: 1rem;
    align-items: center;
}


/* Additional actions for message */

.show-history,
.edit-message {
    text-decoration: underline;
    color: gray;
    font-size: smaller;
}


/* Alert about empty chat */

.empty-chat-message {
    font-size: 20;
    color: gray;
    margin-top: 200px;
    text-align: center;
}


/* Room header */

.header {
    background: #7950b9;
    padding: .3rem;
    color: #f0f1cd;
    min-height: 48px;
}

.date-banner {
    text-align: center;
    font-weight: bold;
    font-family: 'Noto Sans Mono', monospace;
    padding: .3rem;
    background: var(--orange);
    color: #f0f1cd;
    font-size: 1.2rem;
    margin: .4rem 0 .4rem 0;
}


/* Bottom part of room */

.chat-controls {
    display: flex;
    margin-top: 1rem;
}

.chat-controls-row {
    display: flex;
    flex: 1;
}

.chat-control {
    padding: .5rem;
    font-size: 1.4rem;
}

label {
    margin: 0;
}

input[type='checkbox'] {
    width: 1.2rem;
    height: 1.2rem;
}

.message-input {
    border: 3px solid #dadada;
    border-radius: .3rem;
}


/* x at editing overlay */

.stop-editing {
    top: 0;
    right: 0;
}


/* Style label for disabled file input */

input[type="file"]:disabled+label,
input[type="file"]:disabled+label:hover {
    background-color: #8d8d8d;
    border: 1px solid #555555;
    color: #d9d9d9;
}