{% extends 'home/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}
<div class="tw-container tw-my-4">
  <h2 class="tw-mb-4">{% trans 'New room' %}</h2>
  <form action="." method="POST">
    {% csrf_token %}
    <div class="tw-mb-3 tw-w-full md:tw-w-1/4">
      {{ form.title|as_crispy_field }}
    </div>
    <div class="tw-flex tw-gap-2">
      <button type="submit" class="tw-btn tw-btn-primary tw-btn-sm"><i class="fas fa-check fa-fw tw-me-1"></i>{% trans 'Save' %}</button>
      <button data-tw-back class="tw-btn tw-btn-secondary tw-btn-sm" type="button"><i class="fas fa-arrow-left fa-fw tw-me-1"></i>{% trans 'Back' %}</button>
    </div>
  </form>
</div>
{% endblock %}
