{% load filters %}


<div class="room-link text-uppercase {{ room|seen_by:user }}"
    data-room-type="{% if room.public %} public {% else %} private {% endif %}"
    data-room-id="{{ room.id }}">
    <div class="room-name" style="width: 250px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;">
        {{ room|name_for:user }}
    </div>

    <div class="d-flex justify-content-between">
        <label for='notif-switch-{{room.id}}'> <i class="far fa-bell"></i> </label>
        <input type='checkbox'
               class="notif-switch"
               id='notif-switch-{{room.id}}'
               data-room-id="{{room.id}}"
               disabled="disabled" />

    </div>

</div>


