{% extends "home/base.html" %}
{% load static %}
{% load i18n %}
{% load article_tags %}
{% block title %}Blog{% endblock title %}
{% block content %}

<div class="row d-flex justify-content-center">
  {% for article in object_list %}
    <div class="col-lg-5" style="border: 1px solid gray; border-radius: 10px; margin: 10; padding: 10;">
      <h2><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></h2>
        <h5><a href="{{ article.get_absolute_url }}">{{ article.summary|safe }}</a></h5>
        <small>
          {% if article.public %} {% trans 'Public' %} {% else %} {% trans 'Private' %} {% endif %}
          {{ article.author }} {{ article.modified }} 
          {% comment %} {% for tag in article.tags.all %} <kbd>{{ tag }}</kbd>{% endfor %} {% endcomment %}
          {% comment %} {{ article.body|safe }} {% endcomment %}
        </small>
    </div>
    {% if forloop.counter|divisibleby:2 %}
      {# Start new row #}
      </div>
      <div class="row d-flex justify-content-center">
    {% endif %}
  {% endfor %}
</div>

  {% if is_paginated %}
    <div class="clearfix">
      {% if page_obj.has_previous %}
        <a class="pull-left" href="?page={{ page_obj.previous_page_number }}">Newer Entries</a>
      {% endif %}
      {% if page_obj.has_next %}
        <a class="pull-right" href="?page={{ page_obj.next_page_number }}">Older Entries</a>
      {% endif %}
    </div>
  {% endif %}
{% endblock content %}






