{% extends 'home/base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
	<h1>{% trans 'Upload ebook' %}</h1>
	<p><h5>
		<center>{% trans 'Before uploading a file make sure that file name is nicely formatted.' %}</center></p>
		<p><center>{% trans 'Ideally the filename should be in the format like:' %}</center></p>
		<p><center><b>{% trans 'First Name Last Name - Title.pdf' %}</b></center>
	</h5></p>
		<p>
			<form method="post" enctype="multipart/form-data">
			{% csrf_token %}
			{{ form.as_p }}
			<button type='file' class="btn btn-primary">{% trans 'Send' %}</button>
			</form>
		</p>
	<p><a href="{% url 'elibrary:elibrary' %}">{% trans 'Back' %}</a></p>
{% endblock %}




