{% extends 'bookkeeping/confirm_delete.html' %}
{% load i18n %}

{% block nav %}{% include 'bookkeeping/_nav.html' with active='assets' %}{% endblock %}
{% block header_title %}{% trans "Delete asset" %}: {{ object.name }}{% endblock %}
{% block dependencies_header %}{% trans "This asset is used in the following transactions:" %}{% endblock %}
{% block related_column_header %}{% trans "Partner" %}{% endblock %}
{% block related_column_cell %}{{ transaction.partner }}{% endblock %}
{% block dependencies_footer %}{% trans "You must remove all dependencies before deleting this asset." %}{% endblock %}
{% block back_label %}{% trans "Back to Assets" %}{% endblock %}
{% block confirm_question %}{% trans "Are you sure you want to delete this asset?" %}{% endblock %}
{% block object_details %}
  <p><strong>{% trans "Code" %}:</strong> {{ object.code }}</p>
  <p><strong>{% trans "Name" %}:</strong> {{ object.name }}</p>
{% endblock %}
{% block confirm_button %}{% trans "Yes, Delete Asset" %}{% endblock %}
