{% extends 'bookkeeping/menu.html' %}
{% load i18n %}

{% block prefs_tab %}assets{% endblock %}
{% block bookkeeping %}
  {% include 'home/includes/toolbar.html' with cta_url='' views=toolbar_views search_include='bookkeeping/_list_search.html' %}

  <div class="tw-proposals-list" data-view-container>
    {% if object_list %}
      {% for asset in object_list %}
        {% include 'bookkeeping/_asset_card.html' %}
      {% endfor %}
    {% else %}
      {% include 'home/includes/empty_state.html' with compact=True icon='fa-coins' title=_('No assets yet.') %}
    {% endif %}
  </div>
{% endblock %}
