{% extends 'home/base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-4">
{% include 'bookkeeping/_nav.html' with active='assets' %}

  <div class="card">
    <div class="card-body">
      <form method="post">
        {% csrf_token %}

        <div class="card mb-3">
          <div class="card-header bg-info text-white">
            <h4>{% if form.instance.pk %}{% trans "Update Asset" %}{% else %}{% trans "New Asset" %}{% endif %}</h4>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-3">
                {{ form.code|as_crispy_field }}
              </div>
              <div class="col-md-5">
                {{ form.name|as_crispy_field }}
              </div>
              <div class="col-md-2">
                {{ form.symbol|as_crispy_field }}
              </div>
              <div class="col-md-2">
                {{ form.decimal_places|as_crispy_field }}
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                {{ form.is_currency|as_crispy_field }}
              </div>
              <div class="col-md-8">
                {{ form.is_default|as_crispy_field }}
              </div>
            </div>
          </div>
        </div>

        <div class="mb-3">
          <button type="submit" class="btn btn-primary">{% trans "Save Asset" %}</button>
          <a href="{% url 'bookkeeping:asset_list' %}" class="btn btn-secondary">{% trans "Cancel" %}</a>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
