{% extends 'bookkeeping/menu.html' %}
{% load i18n %}

{% block bookkeeping %}
<div class="tw-container tw-my-4">
  {% include 'home/includes/detail_header.html' with title=asset.name actions_include='bookkeeping/_detail_actions.html' %}
  <div class="tw-card">
    <div class="tw-card-body">
      <dl class="tw-detail-fields tw-grid tw-grid-cols-12 tw-gap-3">
        <dt class="tw-col-span-12 sm:tw-col-span-4">{% trans 'Code' %}</dt><dd class="tw-col-span-12 sm:tw-col-span-8">{{ asset.code }}</dd>
        <dt class="tw-col-span-12 sm:tw-col-span-4">{% trans 'Symbol' %}</dt><dd class="tw-col-span-12 sm:tw-col-span-8">{{ asset.symbol }}</dd>
        <dt class="tw-col-span-12 sm:tw-col-span-4">{% trans 'Decimal places' %}</dt><dd class="tw-col-span-12 sm:tw-col-span-8">{{ asset.decimal_places }}</dd>
        <dt class="tw-col-span-12 sm:tw-col-span-4">{% trans 'Is currency' %}</dt><dd class="tw-col-span-12 sm:tw-col-span-8">{% if asset.is_currency %}{% trans 'Yes' %}{% else %}{% trans 'No' %}{% endif %}</dd>
        <dt class="tw-col-span-12 sm:tw-col-span-4">{% trans 'Default' %}</dt><dd class="tw-col-span-12 sm:tw-col-span-8">{% if asset.is_default %}{% trans 'Yes' %}{% else %}{% trans 'No' %}{% endif %}</dd>
      </dl>
    </div>
  </div>
</div>
{% endblock %}
