{% extends 'bookkeeping/menu.html' %}
{% load i18n %}

{% block bookkeeping %}
{% include 'home/includes/toolbar.html' %}

  <table class="tw-citizens-table tw-table-hover tw-table-sm">
    <thead>
      <tr>
        <th>{% trans 'Name' %}</th>
        <th class="tw-text-end">{% trans 'Actions' %}</th>
      </tr>
    </thead>
    <tbody>
      {% for category in object_list %}
        <tr>
          <td>{{ category.name }}</td>
          <td>
            <div class="tw-flex tw-gap-2 tw-justify-end">
              <a href="{% url 'bookkeeping:category_update' category.id %}" class="tw-btn tw-btn-sm tw-btn-outline-secondary"><i class="fas fa-pen fa-fw"></i> {% trans 'Edit' %}</a>
              <a href="{% url 'bookkeeping:category_delete' category.id %}" class="tw-btn tw-btn-sm tw-btn-outline-danger"><i class="fas fa-trash fa-fw"></i> {% trans 'Delete' %}</a>
            </div>
          </td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="2">{% trans 'No records found.' %}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
