{% extends 'bookkeeping/confirm_delete.html' %}
{% load i18n %}

{% block nav %}{% include 'bookkeeping/_nav.html' with active='categories' %}{% endblock %}
{% block header_title %}{% trans "Delete category" %}: {{ object.name }}{% endblock %}
{% block dependencies_header %}{% trans "This category is used in the following transactions:" %}{% endblock %}
{% block related_column_header %}{% trans "Partner" %}{% endblock %}
{% block related_column_cell %}{{ transaction.partner }}{% endblock %}
{% block dependencies_footer %}{% trans "You must remove all dependencies before deleting this category." %}{% endblock %}
{% block back_label %}{% trans "Back to Categories" %}{% endblock %}
{% block confirm_question %}{% trans "Are you sure you want to delete this category?" %}{% endblock %}
{% block object_details %}
  <p><strong>{% trans "Name" %}:</strong> {{ object.name }}</p>
{% endblock %}
{% block confirm_button %}{% trans "Yes, Delete Category" %}{% endblock %}
