{% extends 'bookkeeping/menu.html' %}
{% load i18n %}

{% block prefs_tab %}categories{% endblock %}
{% block bookkeeping %}
  {% include 'home/includes/toolbar.html' with cta_url='' views=toolbar_views search_include='bookkeeping/_list_search.html' %}

  <div class="tw-proposals-list" data-view-container>
    {% if object_list %}
      {% for category in object_list %}
        {% include 'bookkeeping/_category_card.html' %}
      {% endfor %}
    {% else %}
      {% include 'home/includes/empty_state.html' with compact=True icon='fa-tag' title=_('No categories yet.') %}
    {% endif %}
  </div>
{% endblock %}
