{% extends 'home/base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-4">
{% include 'bookkeeping/_nav.html' with active='categories' %}

  <div class="card">
    <div class="card-body">
      <form method="post">
        {% csrf_token %}

        <div class="card mb-3">
          <div class="card-header bg-info text-white">
            <h4>{% if form.instance.pk %} {% trans "Update Category" %} {% else %} {% trans "New category" %} {% endif %}</h4>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                {{ form.name|as_crispy_field }}
              </div>
            </div>
          </div>
        </div>

        <div class="mb-3">
          <button type="submit" class="btn btn-primary">{% trans "Save Category" %}</button>
          <a href="{% url 'bookkeeping:category_list' %}" class="btn btn-secondary">{% trans "Cancel" %}</a>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
