{% extends 'bookkeeping/confirm_delete.html' %}
{% load i18n %}

{% block nav %}{% include 'bookkeeping/_nav.html' with active='partners' %}{% endblock %}
{% block header_title %}{% trans "Delete Partner" %}: {{ object.name }}{% endblock %}
{% block dependencies_header %}{% trans "This partner is used in the following transactions:" %}{% endblock %}
{% block related_column_header %}{% trans "Category" %}{% endblock %}
{% block related_column_cell %}{{ transaction.category }}{% endblock %}
{% block dependencies_footer %}{% trans "You must remove all dependencies before deleting this partner." %}{% endblock %}
{% block back_label %}{% trans "Back to Partners" %}{% endblock %}
{% block confirm_question %}{% trans "Are you sure you want to delete this partner?" %}{% endblock %}
{% block object_details %}
  <p><strong>{% trans "Name" %}:</strong> {{ object.name }}</p>
  {% if object.email %}
    <p><strong>{% trans "Email" %}:</strong> {{ object.email }}</p>
  {% endif %}
  {% if object.phone %}
    <p><strong>{% trans "Phone" %}:</strong> {{ object.phone }}</p>
  {% endif %}
{% endblock %}
{% block confirm_button %}{% trans "Yes, Delete Partner" %}{% endblock %}
