{% extends 'bookkeeping/confirm_delete.html' %}
{% load i18n %}

{% block nav %}{% include 'bookkeeping/_nav.html' with active='transactions' %}{% endblock %}
{% block header_title %}{% trans "Delete Transaction" %}{% endblock %}
{% block confirm_question %}{% trans "Are you sure you want to delete this transaction?" %}{% endblock %}
{% block object_details %}
  <p><strong>{% trans "Type" %}:</strong>
    {% if object.type == 'I' %}
      <span class="tw-badge-status tw-badge-success">{% trans "Incoming" %}</span>
    {% else %}
      <span class="tw-badge-status tw-badge-danger">{% trans "Outgoing" %}</span>
    {% endif %}
  </p>
  <p><strong>{% trans "Partner" %}:</strong> {{ object.partner }}</p>
  <p><strong>{% trans "Asset" %}:</strong> {{ object.asset }}</p>
  <p><strong>{% trans "Amount" %}:</strong> {{ object.amount }} {{ object.asset.symbol }}</p>
  <p><strong>{% trans "Date" %}:</strong> {{ object.payment_received_date|date:"Y-m-d" }}</p>
{% endblock %}
{% block confirm_button %}{% trans "Yes, Delete Transaction" %}{% endblock %}
