{% extends 'bookkeeping/menu.html' %}
{% load i18n %}

{% block prefs_scope %}bookkeeping{% endblock %}
{% block prefs_tab %}transactions{% endblock %}
{% block bookkeeping %}

  {% include 'home/includes/toolbar.html' with cta_url='' views=toolbar_views search_include='bookkeeping/_transaction_search.html' %}

  <div class="tw-proposals-list" data-view-container>
    {% if transactions %}
      {% for transaction in transactions %}
        {% include 'bookkeeping/_transaction_card.html' %}
      {% endfor %}
    {% else %}
      {% include 'home/includes/empty_state.html' with compact=True icon='fa-money-bill-transfer' title=_('No transactions yet.') %}
    {% endif %}
  </div>
{% endblock %}
