{% extends "home/base.html" %}
{% load i18n %}
{% load account %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<div class="tw-container tw-my-4">
  <div class="tw-flex tw-justify-center">
    <div class="tw-w-full tw-max-w-md">
      <div id="login-box">
        <form class="login" method="POST" action="{% url 'account_login' %}">
          {% csrf_token %}
          <h3 class="tw-text-center tw-text-info tw-m-2">{% trans "Sign In" %}</h3>
          
          <div class="tw-mb-3">
            {{ form|crispy }}
          </div>

          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" >
          {% endif %}
          
          <div class="tw-flex tw-justify-end">
            <button class="tw-btn tw-btn-info tw-me-1 tw-mb-1" type="submit"><i class="fas fa-right-to-bracket fa-fw tw-me-1"></i>{% trans "Sign In" %}</button>
          </div>
        </form>
        <div class="tw-text-center tw-mt-3">
          <a href="{% url 'chat:guest_message' %}">{% trans "Send a message to a group" %}</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
