{% extends "home/base.html" %}
{% load i18n %}
{% load account %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 col-xl-4">
      <div id="login-box">
        <form class="login" method="POST" action="{% url 'account_login' %}">
          {% csrf_token %}
          <h3 class="text-center text-info m-2">{% trans "Sign In" %}</h3>
          
          {{ form|crispy }}

          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" >
          {% endif %}
          
          <div class="row">
            <div class="d-flex justify-content-end">
              <button class="btn btn-info me-1 mb-1" type="submit">{% trans "Sign In" %}</button>
            </div>
          </div>
        </form>
        <div class="text-center mt-3">
          <a href="{% url 'chat:guest_message' %}">{% trans "Send a message to a group" %}</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
