{% extends "home/base.html" %}

{% load i18n %}
{% load account %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

  <h4 class="title">{% trans "Password Reset" %}</h4>
  {% if user.is_authenticated %}
  {% include "account/snippets/already_logged_in.html" %}
  {% endif %}

  <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

  <form method="POST" action="{% url 'account_reset_password' %}" class="container col-md-8 col-xs-2">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="d-flex justify-content-end">
      <button type="submit" class="btn btn-danger btn-sm">{% trans 'Reset My Password' %}</button>
    </div>
  </form>

  {% url 'chat:guest_message' as contact_url %}
  <p class="mt-4">{% blocktrans %}Please <a href="{{ contact_url }}">contact us</a> if you have any trouble resetting your password.{% endblocktrans %}</p>
{% endblock %}
