{% extends "home/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Change password" %}{% endblock %}

{% block content %}
  <h4 class="title">{% trans "Change password" %}</h4>

  <form method="POST" action="{% url 'account_change_password' %}" class="container col-md-8 col-xs-2">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" name="action" class="btn btn-danger btn-sm">{% trans "Change password" %}</button>
    <a href="{% url 'account_reset_password' %}" class="btn btn-outline-secondary btn-sm ms-2">{% trans "Forgot Password?" %}</a>
  </form>
{% endblock %}
