{% extends "home/base.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}


{% block content %}
<div class="fw-bold">
<p>{% blocktrans %}Account is created in 4 steps:{% endblocktrans %}</p>
<p>1. {% blocktrans %}Enter your email and solve captcha.{% endblocktrans %}</p>
<p>2. {% blocktrans %}Confirm your email by clicking the link sent to your inbox.{% endblocktrans %}</p>
<p>3. {% blocktrans %}Fill out onboarding questions.{% endblocktrans %}</p>
<p>4. {% blocktrans %}Wait until group approves your application.{% endblocktrans %}</p>
</div>
<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}

  {{ form.email|as_crispy_field }}
  {{ form.captcha|as_crispy_field }}

  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" >
  {% endif %}
  <button type="submit" class="btn btn-info d-block w-100 m-2 btn-sm">{% trans "Sign Up" %}</button>
</form>
{% endblock %}
