{% extends "home/base.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}
{% include "home/_registration_timeline.html" with registration_step=1 %}
<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}

  <div class="tw-mb-3">
    {{ form.email|as_crispy_field }}
  </div>
  <div class="tw-mb-3">
    {{ form.captcha|as_crispy_field }}
  </div>

  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" >
  {% endif %}
  <button type="submit" class="tw-btn tw-btn-info tw-block tw-w-full tw-m-2 tw-btn-sm"><i class="fas fa-user-plus fa-fw tw-me-1"></i>{% trans "Sign Up" %}</button>
</form>
{% endblock %}
