{% extends 'glosowania/menu.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block extra_css %}{{ form.media }}{% endblock %}

{% block glosowania %}
<div class="card">
  <div class="card-header">
    <span class="section-heading">{% trans 'Edit law proposal' %}</span>
  </div>
  <div class="card-body">
    <form action="." method="POST" class="post-form" data-autosave="{{ request.path_info }}:{{ request.user.id }}">
      {% csrf_token %}
      {{ form.title|as_crispy_field }}
      {{ form.tresc|as_crispy_field }}
      {{ form.uzasadnienie|as_crispy_field }}
      {{ form.kara|as_crispy_field }}
      {{ form.znosi|as_crispy_field }}
      <div class="d-flex gap-2">
        <button type="submit" class="btn btn-primary btn-sm">{% trans 'Save' %}</button>
        <button onclick="window.history.back();" class="btn btn-secondary btn-sm" type="button">{% trans 'Back' %}</button>
      </div>
    </form>
  </div>
</div>
{% endblock glosowania %}

{% block extra_js %}
<script src="{% static 'common/js/form-autosave.js' %}"></script>
{% endblock extra_js %}
