{% extends 'glosowania/menu.html' %}
{% load static %}
{% load i18n %}

{% block prefs_scope %}glosowania{% endblock %}

{% block glosowania %}
{% include 'glosowania/_view_toggle.html' %}

<div class="proposals-list" data-view-container>
  {% if votings %}
    {% for i in votings %}
      {% include 'glosowania/_proposal_card.html' with show_dates=show_dates %}
    {% endfor %}
  {% else %}
    <div class="proposals-empty">
      <i class="fas fa-inbox fa-2x mb-2"></i>
      <div>{% trans 'There is no proposal with this status' %}</div>
    </div>
  {% endif %}
</div>

{% endblock glosowania %}
