{% extends 'glosowania/menu.html' %}
{% load static %}
{% load i18n %}

{% block prefs_scope %}glosowania{% endblock %}

{% block glosowania %}
{% url 'glosowania:dodaj_nowy' as cta_url %}
{% include 'home/includes/toolbar.html' with cta_url=cta_url cta_icon='plus' cta_label=_('Add') sort_items=toolbar_sort_items views=toolbar_views %}

<div class="tw-proposals-list" data-view-container>
  {% if votings %}
    {% for i in votings %}
      {% include 'glosowania/_proposal_card.html' with show_dates=show_dates %}
    {% endfor %}
  {% else %}
    {% trans 'There is no proposal with this status' as proposals_empty_title %}
    {% include 'home/includes/empty_state.html' with icon='fa-inbox' title=proposals_empty_title %}
  {% endif %}
</div>

{% endblock glosowania %}
