{% extends 'glosowania/menu.html' %}
{% load static %}
{% load i18n %}

{% block prefs_scope %}glosowania{% endblock %}
{% block prefs_tab %}votings{% endblock %}

{% block glosowania %}
{% include 'home/includes/toolbar.html' with sort_items=toolbar_sort_items views=toolbar_views search_include='glosowania/_search.html' %}

<div class="tw-proposals-list" data-view-container>
  {% if votings %}
    {% for i in votings %}
      {% include 'glosowania/_proposal_card.html' %}
    {% endfor %}
  {% else %}
    {% trans 'There is no proposal with this status' as proposals_empty_title %}
    {% include 'home/includes/empty_state.html' with icon='fa-inbox' title=proposals_empty_title %}
  {% endif %}
</div>

{% endblock glosowania %}
