{% extends 'home/base.html' %}
{% load staticfiles %}

{% if user.is_authenticated %}
{% block content %}
<br>

<div class="col-sm-4 text-align: left;">
				<form action="#" method="get" style="text-align: left;">
					<input class="btn btn-primary fr-rounded" name="1" value="1. Propozycje" type="submit">
				</form></p>

				<p><form action="#" method="get" style="text-align: left;">
					<input class="btn btn-primary fr-rounded" name="2" value="2. Brak poparcia" type="submit">
				</form></p>

				<p><form action="#" method="get" style="text-align: left;">
					<input class="btn btn-primary fr-rounded" name="3" value="3. W kolejce do referendum" type="submit">
				</form></p>

				<p><form action="#" method="get" style="text-align: left;">
					<input class="btn btn-primary fr-rounded" name="4" value="4. Referendum" type="submit">
				</form></p>

				<p><form action="#" method="get" style="text-align: left;">
					<input class="btn btn-primary fr-rounded" name="5" value="5. Odrzucone" type="submit">
				</form></p>

				<p><form action="#" method="get" style="text-align: left;">
					<input class="btn btn-primary fr-rounded" name="6" value="6. Zatwierdzone/Vacatio Legis" type="submit">
				</form></p>

				<p><form action="#" method="get" style="text-align: left;">
					<input class="btn btn-primary fr-rounded" name="7" value="7. Obowiązujące" type="submit">
				</form></p>
</div>

<div class="col-sm-4 right"><a class="btn btn-warning fr-rounded fr-small" href="{% url 'dodaj_nowy' %}">Dodaj Głosowanie</a></div>

<div class="col-sm-8 offset-sm-3 right"><p><h3>{{ status }}</h3></p></div>

<div class="col-sm-8 right">
	{% for i in decyzje %}
		<h3><a href="{{ i.pk }}">● {{ i.tresc }}</a></h3>
		<!-- Autor: {{ i.autor }} | ID: {{ i.pk }} | Data powstania: {{i.data_powstania}} -->
	{% endfor %}
</div>

<div class="col-sm-10 left"><img src="../static/glosowania/schemat.png"></div>

<div class="col-sm-10">
	<h4>Parametry głosowań:</h4>
	<li>wymaganych_podpisow = potrzeba 2 osób aby zatwierdzić wniosek o referendum. Ta liczba powinna pozostać wystarczająco niska aby każdy sensowny wniosek mógł zostać poddany pod głosowanie i tylko na tyle wysoka żeby odsiać ewidentny spam.</li>
	<li>czas_na_zebranie_podpisow = 365 dni. Po tym czasie podpisy trzeba zbierać od nowa.</li>
	<li>kolejka_do_głosowania = 7 dni pomiędzy zebraniem podpisów a referendum aby móc omówić skutki</li>
	<li>czas_trwania_referendum = 7 dni</li>
	<li>vacatio_legis = 1 dzień</li>
	<h4>Parametry przyjmowania nowych osób:</h4>
	<li>wymagana_reputacja = 30%</li>
</div>

	{% endblock %}
{% endif %}
