{% extends 'home/base.html' %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% bootstrap_messages %}
{% load static %}
{% load i18n %}

{% block content %}

<div class='row'>
	<div class="col-md-4">
		<form action="#" method="get" style="text-align: left;">
			<input class="btn btn-primary fr-rounded btn-sm" name="1" value="1. {% trans 'New propositions' %}" type="submit">
			<!-- <input class="btn btn-primary fr-rounded" name="1" value="1" type="submit"> -->
		</form></p>
		
		<p><form action="#" method="get" style="text-align: left;">
			<input class="btn btn-primary fr-rounded btn-sm" name="2" value="2. {% trans 'No endorsement' %}" type="submit">
		</form></p>
		
		<p><form action="#" method="get" style="text-align: left;">
			<input class="btn btn-primary fr-rounded btn-sm" name="3" value="3. {% trans 'Queued for referendum' %}" type="submit">
		</form></p>
		
		<p><form action="#" method="get" style="text-align: left;">
			<input class="btn btn-primary fr-rounded btn-sm" name="4" value="4. {% trans 'Referendum' %}" type="submit">
		</form></p>
		
		<p><form action="#" method="get" style="text-align: left;">
			<input class="btn btn-primary fr-rounded btn-sm" name="5" value="5. {% trans 'Rejected' %}" type="submit">
		</form></p>

		<p><form action="#" method="get" style="text-align: left;">
			<input class="btn btn-primary fr-rounded btn-sm" name="6" value="6. {% trans 'Approved / Vacatio Legis' %}" type="submit">
		</form></p>
		
		<p><form action="#" method="get" style="text-align: left;">
			<input class="btn btn-primary fr-rounded btn-sm" name="7" value="7. {% trans 'Governing Law' %}" type="submit">
		</form></p>
	</div>
	
	<div class="col-md-8">
		<a class="btn btn-info btn-sm" href="{% url 'glosowania:dodaj_nowy' %}">+{% trans 'Add proposition' %}</a>
		
		<p>
			<div class="col-sm-6 left"><p><h4>{{ status }}</h4></p></div>
			{% for i in decyzje %}
				<h5><a href="{{ i.pk }}">{{ i.pk }}. {{ i.tresc }}</a></h5>
			{% endfor %}
		</p>
	</div>
</div>
 
<p>
	<img class="img-fluid col-sm-8 offset-sm-1" src="../static/glosowania/{{ lang }}/schemat.png">
</p>


<p>
	<h5 class="text-center font-weight-bold">{% trans "Voting parameters" %}</h5>
	<ul class="list-group">
		<li class="list-group-item d-flex justify-content-between align-items-center">
			{% trans "Signatures needed to approve a referendum request. This number should remain low enough for any sensible proposal to be voted on, and only high enough to filter out obvious spam." %}
			<span class="badge badge-primary badge-pill">14</span>
		</li>
		<li class="list-group-item d-flex justify-content-between align-items-center">
			{% trans "Maximal time to gather signatures [in days]. If there is not enough signatures - after this time, proposition is rejected." %}
			<span class="badge badge-primary badge-pill">2</span>
		</li>
		<li class="list-group-item d-flex justify-content-between align-items-center">
			{% trans "Queue and discussion time [days]." %}
			<span class="badge badge-primary badge-pill">1</span>
		</li>
		<li class="list-group-item d-flex justify-content-between align-items-center">
			{% trans "Referendum duration [days]." %}
			<span class="badge badge-primary badge-pill">1</span>
		</li>
		<li class="list-group-item d-flex justify-content-between align-items-center">
			{% trans "Vacatio Legis duration [days]." %}
			<span class="badge badge-primary badge-pill">1</span>
		</li>
	</ul>
</p>
{% endblock %}
