{% extends 'glosowania/menu.html' %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% bootstrap_messages %}
{% load static %}
{% load i18n %}

{% block glosowania %}

<p>
	{% for i in filtered_glosowania %}
		<p><a href="{% url 'glosowania:details' pk=i.pk %}">{{ i.pk }}. {{ i.title }}<br>{{ i.tresc }}</a></p>
	{% empty %}
		<div class="alert alert-light">({% trans 'There is no proposal with this status' %})</div>
	{% endfor %}
</p>

<p>
	<img class="img-fluid col-sm-8 offset-sm-1" src="/static/glosowania/schemat_{{ lang }}.png">
</p>

<div class="container">
	<div class="row">
		<div class="col text-center">
			<p>
				<button class="btn btn-secondary btn-sm" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
				{% trans "Voting parameters" %}</button>
			</p>
		</div>
	</div>
</div>

<div class="collapse" id="collapseExample">
	<ul class="list-group"></ul>
		<li class="list-group-item">
			{% trans "New proposal needs to gather" %}
			<span class="badge badge-primary badge-pill">{{ signatures }}</span>
			{% trans "signatures in order to trigger referendum. This number should remain low enough for any sensible proposal to be voted on, and only high enough to filter out obvious spam." %}
		</li>
		<li class="list-group-item">
			{% trans "Maximum time to gather signatures is" %}
			<span class="badge badge-primary badge-pill">{{ signatures_span }}</span>
			{% trans "days. If there is not enough signatures - after this time, proposal is rejected." %}
		</li>
		<li class="list-group-item">
			{% trans "Queue and discussion before referendum lasts" %}
			<span class="badge badge-primary badge-pill">{{ queue_span }}</span>
			{% trans "days." %}
		</li>
		<li class="list-group-item">
			{% trans "Referendum lasts for" %}
			<span class="badge badge-primary badge-pill">{{ referendum_span }}</span>
			{% trans "days." %}
		</li>
		<li class="list-group-item">
			{% trans "Vacatio Legis duration is" %}
			<span class="badge badge-primary badge-pill">{{ vacatio_legis_span }}</span>
			{% trans "days. After that time new law is in force." %}
		</li>
		<li class="list-group-item">
			{% trans "If you want to change any of" %} <span class="badge badge-primary badge-pill">{% trans "marked" %}</span> {% trans "parameters - create referendum and show its result to your administrator." %}
		</li>
	</ul>
</div>
{% endblock glosowania %}
