{% extends 'home/base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
	<div>
		<h3>{% trans 'Bill number' %}: {{ id.id }}</h3>
		<h4>{% trans 'Bill text' %}:</h4><p>{{ id.tresc }}</p>
		<h4>{% trans 'Penalty for non-compliance' %}:</h4><p>{{ id.kara }}</p>
		<h4>{% trans 'Reason' %}:</h4><p>{{ id.uzasadnienie }}</p>
        <h4>{% trans 'This law supersedes the following bills' %}:</h4><p>{{ id.znosi }}</p>
			<p>
				{% trans 'Author' %}: {{ id.autor }}

				{% if id.ile_osob_podpisalo %} | {% trans 'Number of people signed the motion for a referendum' %}: {{ id.ile_osob_podpisalo }} {% endif %}
				{% if id.status >= 6 %} | {% trans 'For' %}: {{ id.za }} | {% trans 'Against' %}: {{ id.przeciw }} {% endif %}
				
				<br><small>
				{% if id.data_powstania %} {% trans 'Date created' %}: {{ id.data_powstania }} {% endif %}
				{% if id.data_zebrania_podpisow %} | {% trans 'Date of collecting signatures' %}: {{ id.data_zebrania_podpisow }} {% endif %}
				{% if id.data_referendum_start %} | {% trans 'Start referendum' %}: {{ id.data_referendum_start }} {% endif %}
				{% if id.data_referendum_stop %} | {% trans 'End referendum' %}: {{ id.data_referendum_stop }} (wyłącznie) {% endif %}
				{% if id.data_obowiazuje_od %} <br> <b>{% trans 'The rule applies from' %}: {{ id.data_obowiazuje_od }}</b> {% endif %}
				</small>
				{% comment %} Status: {{ id.status }} {% endcomment %}
			</p>
	</div>

	{% if id.status == 1 %}
		<form action="#" method="get">
			<p><u><h4>{% trans 'Do you want a referendum on this law?' %}</h4></u></p>
		    <input class="btn btn-primary" type="submit" name="podpisz" value="{% trans "Yes, I sign" %}"/>
		    <button onclick="window.history.back();" class="btn btn-warning" type="button">{% trans 'Back' %}</button>

		</form>
	{% endif %}

	{% if id.status == 4 %}
		<form action="#" method="get">
			<p><u><h4>{% trans 'Do you want to implement this law?' %}</h4></u></p>
		    <input class="btn btn-primary" type="submit" name="tak" value="{% trans 'Yes' %}"/>
			<input class="btn btn-primary" type="submit" name="nie" value="{% trans 'No' %}"/>
		    <button onclick="window.history.back();" class="btn btn-warning" type="button">{% trans 'Back' %}</button>
		</form>
	{% endif %}

	{% if id.status == 2 or id.status == 3 or id.status >= 5 %}
		<button onclick="window.history.back();" class="btn btn-warning" type="button">{% trans 'Back' %}</button>
	{% endif %}
{% endblock %}
