{% extends 'home/base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
	<div>
		<h3>{{ id.tresc }}</h3>
			<p>
				{% trans 'Autor' %}: {{ id.autor }} |
				{% trans 'Data powstania' %}: {{ id.data_powstania }} |
				{% trans 'Data zebrania podpisów' %}: {{ id.data_zebrania_podpisow }} |
				{% trans 'Ile osób podpisało' %}: {{ id.ile_osob_podpisalo }}
			</p>
	</div>

	<div>
		<h4>
			<p>
				{{ message }}
			</p>
		</h4>
	</div>
<button onclick="location.href='{% url 'glosowania:index' %}'" class="btn btn-default" type="button">{% trans 'Wróć</button>' %}
{% endblock %}
