{% extends 'home/base.html' %}
{% load staticfiles %}

{% block content %}
<br><br><br>
{% if user.is_authenticated %}
	<div>
		<h3>{{ id.tresc }}</h3>
			<p>
				Autor: {{ id.autor }} |
				Data powstania: {{ id.data_powstania }} |
				Data zebrania podpisów: {{ id.data_zebrania_podpisow }} |
				Ile osób podpisało: {{ id.ile_osob_podpisalo }}
			</p>
	</div>

	<div>
		<h4>
			<p>
				{{ message }}
			</p>
		</h4>
	</div>
<button onclick="location.href='{% url 'glosowania:index' %}'" class="btn btn-default" type="button">Wróć</button>
{% endif %}
{% endblock %}
