{% extends 'home/base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
	<div>
		<h3>{{ id.tresc }}</h3>
			<p>
				{% trans 'Author' %}: {{ id.autor }} |
				{% trans 'Date created' %}: {{ id.data_powstania }} |
				{% trans 'Date of collecting signatures' %}: {{ id.data_zebrania_podpisow }} |
				{% trans 'How many people signed' %}: {{ id.ile_osob_podpisalo }}
			</p>
	</div>

	<div>
		<h4>
			<p>
				{{ message }}
			</p>
		</h4>
	</div>
<button onclick="location.href='{% url 'glosowania:glosowania' %}'" class="btn btn-warning" type="button">{% trans 'Back' %}</button>
{% endblock %}
