[Unit]
Description=demo gunicorn daemon
After=network.target

[Service]
User=r1
Group=nginx
WorkingDirectory=/var/www/demo
ExecStart=/var/www/prod-env/bin/gunicorn --workers 2 --bind unix:/var/www/demo.sock zzz.wsgi:application

[Install]
WantedBy=multi-user.target